.button {
  border-radius: 5px;
  min-width: 5em;
  max-width: 8em;
  min-height: 2em;
  max-height: 4em;
  background: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}
